[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "themes/repo-card"]
	path = themes/repo-card
	url = https://github.com/Tarptaeya/repo-card
