{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}

<div class="posts-list">
{{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.private }}
    <a class="post-anchor" href="{{ .Permalink }}" title="{{ .Title }}">
        <div class="post">
            <p>
                <div class="post-link">{{ .Title }}</div>
                <div class="date">{{ .PublishDate.Format "2 Jan. 2006" }} • ~{{ math.Round (div (countwords .Content) 220.0) }} min.</div>
                <div class="summary">{{ .Summary | plainify }}</div>
                {{ if .Truncated }}
                <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                <div>
                  <a href="{{ .Permalink }}">Read More…</a>
                </div>
                {{ end }}
            </p>
        </div>
    </a>
    {{ end }}
{{ end }}
</div>

{{ end }}