@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  font-display: swap
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/JetBrainsMono-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  font-display: swap
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/JetBrainsMono-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/JetBrainsMono-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap
}

/* @font-face {
  font-family: "ISO";
  src: url("/font/ISOv0.7-Regular.woff") format("woff");
  text-rendering: optimizeLegibility;
} */

:root {
  --global-font-size: 1rem;
  --mono-font-stack: JetBrains Mono, Menlo, Monaco, Lucida Console,
    Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace, serif;
  --headers-font-stack: JetBrains Mono, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --font-stack: JetBrains Mono, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  /* --font-stack: "ISO", Helvetica, Arial, sans-serif; */
  --global-line-height: 1.4rem;
  --page-width: 58em;
  --display-h1-decoration: 1;
  /* --global-font-color: #423F3E;
  --font-color: #423F3E;
  --shadow-color: #423F3E;
  --code-bg-color: #FFFFF0; */
  --primary-color: #b3a894;
  --primary-color: #cf8a05;
  --dark-primary-color: #cf8a05;
  --light-shadow-color: rgb(196, 196, 196);
  --global-top-margin: 10px;
  --posts-line-height: 1.4em;
}

html[data-theme="light"] {
  --global-font-color: #2c2f36;
  --shadow-color: #2c2f36;
  --font-color: #2c2f36;
  --code-bg-color: #FFFFFF;
  --background-color: #FFFFFF   ;
  --primary-color: #cf8a05;
  --dark-primary-color: #cf8a05;
  --secondary-color: #777777;
  --light-shadow-color: rgb(196, 196, 196);
}

html[data-theme="dark"] {
  --code-bg-color: #2e3138;
  --background-color: #2e3138;
  --global-font-color: #ddd;
  --font-color: #fff;
  --secondary-color: #aeadad;
  --shadow-color: #e3e3e3;
  --primary-color: #fac55b;
  --dark-primary-color: #cf8a05;
  --light-shadow-color: #2e3138;
}

html[data-anim="none"] > * {
  transition: all 0s;
}

html[data-anim="fast"] > *,
html[data-anim="fast"] > * > .top-container,
html[data-anim="fast"] .btn,
html[data-anim="fast"] #theme-toggle {
  transition: background 300ms ease-in-out, color 500ms ease-in-out !important;
}

@media only screen and (max-width: 750px) {
  :root {
    /* --global-font-size: 14px; */
    /* --global-line-height: 1.6em; */
    --global-top-margin: 0px;
    /* --posts-line-height: 1.4em; */
  }
}

body {
  font-family: var(--font-stack);
  font-size: var(--global-font-size);
  background-color: var(--code-bg-color);
  margin-bottom: 75px;
  margin-top: var(--global-top-margin);
  min-width: 330px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--headers-font-stack);
  clear: both;
  text-decoration: underline;
  text-transform: none;
}

h1,
.terminal h1 {
  font-family: var(--headers-font-stack);
  /* margin-bottom: 15px;*/
  font-size: 1.6em;
  padding: calc(var(--global-space) * 2) 0 calc(var(--global-space) * 2);
  margin: 0;
  overflow: hidden;
  font-weight: 600;
  padding-top: 60px;
  text-decoration: none;
  /* text-transform: uppercase; */
}

h1::after {
  content: "";
}

h2,
.terminal h2 {
  margin: var(--global-line-height) 0;
  margin-top: calc(var(--global-line-height) * 1.5);
  font-size: 1.1em;
}

ul,
ol {
  margin-top: calc(var(--global-line-height) * 0.5) !important;
  margin-bottom: calc(var(--global-line-height) * 0.5) !important;
}

li {
  margin: 18px 7px;
  color: var(--global-font-color);
}

ul > li::after {
  content: "•";
}

.active a {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

.logo > a {
  font-weight: bold;
}

.logo {
  font-weight: normal;
}

p {
  margin: 0 0 calc(var(--global-line-height) * 0.6);
  color: var(--global-font-color);
}

button {
  font-family: var(--headers-font-stack);
  background-color: var(--background-color);
  border: none;
}

a:hover {
  background-color: var(--primary-color);
  color: var(--invert-font-color);
}

/* ----- Misc --------- */

.main-container {
  /* max-width: calc(var(--page-width)*.90); */
  min-width: 250px;
  padding: 0px 50px;
  height: 100%;
  padding-top: 75px;
}

.footer {
  clear: both;
  margin-top: 100px;
  padding-top: 10px;
  font-size: smaller;
  width: 100%;
  text-align: center;
  /* border-top: 1px solid var(--secondary-color); */
}

.footer > p {
  bottom: 5px;
  color: var(--secondary-color);
}

.headshot {
  width: 40%;
  min-width: 125px;
  max-width: 200px;
  display: block;
  margin: auto;
  border-radius: 0px;
  padding-bottom: 30px;
}

.headshot:hover {
  border: none;
}

#theme-toggle {
  font-size: 1.5em;
  color: var(--font-color);
  background-color: var(--background-color);
  border: none;
}

.home-btn {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--font-color);
  background-color: var(--background-color);
  border: none;
  transition: background 300ms ease-in-out, color 500ms ease-in-out !important;
}

#theme-toggle:hover,
.home-btn:hover {
  color: var(--secondary-color);
  cursor: pointer;
  background-color: var(--background-color);
}

.not-found {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

/* ----- Menu --------- */

.terminal-menu li {
  margin-right: 30px;
  font-size: calc(var(--global-font-size) * 0.9);

}
.terminal-menu li a:not(.btn) {
  color: var(--font-color);
  font-size: calc(var(--global-font-size) * 0.9);
}

.terminal-menu li a:not(.btn):hover {
  color: var(--secondary-color);
}

.terminal-prompt::after {
  -webkit-animation: cursor 1s infinite;
  animation: cursor 1s infinite;
  width: 10px;
}

.terminal-prompt::before {
  content: none;
}

.terminal-nav {
  /* border: 1px solid var(--font-color); */
  /* border-top: 2px dotted var(--font-color); */
  /* border-bottom: 2px dotted var(--font-color); */
  /* margin: 0px 20px; */
  padding: 0px 30px;
  /* margin-left: -40px; */
  /* border-radius: 10px; */
  /* box-shadow: 7px 7px 0px var(--font-color); */
  margin-top: 14px;
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--secondary-color);
  max-width: var(--page-width);
}

.top-container {
  /* box-shadow: 0 0 30px var(--background-color); */
  position: fixed;
  z-index: 2000;
  opacity: 1;
  background: var(--background-color);
  left: 0;
  right: 0;
  top: 0;
  /* padding-bottom: 5px; */
  min-width: 330px;
}

.top-container hr {
  margin: 10px 0px;
}

.header-spacer {
  height: 30px;
}

/* ----- Post list --------- */

.posts-list {
  position: relative;
  padding-left: 7em;
  top: 0;
  width:90%;

}

.post h1,
.post h2 {
  padding-top: 0;
  margin: 0;
  margin-bottom: 5px;
}

.post {
  border-radius: 15px;
  margin-bottom: 50px;

}

.post-compact {
  margin-bottom: 15px;
}

.post-anchor-compact > .post {
  margin-bottom: 0px;
}

.posts-list .date {
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 9em;
  z-index: 400;
  padding-top: 0;
  font-size: small;
  font-family: var(--headers-font-stack);
  /* font-style: italic; */
  color: var(--secondary-color);
}

.post-anchor-compact > .post > .date {
  font-family: var(--headers-font-stack);
  color: var(--font-color);
  font-size: small;

}

.summary {
  color: var(--secondary-color);
  font-size: small;
  font-weight: normal;
  line-height: 1.2em;
  padding: calc(var(--global-line-height) * 0.5) 0px 10px 0px;
  text-decoration: none !important;
}

.summary-main {
  color: var(--font-color);
  font-size: calc(var(--global-font-size) * 0.9);
  font-weight: normal;
  line-height: 1.2em;
  padding: calc(var(--global-line-height) * 0.5) 0px 10px 0px;
  text-decoration: none !important;
}

.post-anchor {
  font-family: var(--headers-font-stack);
  font-size: calc(var(--global-font-size) * 1.15);
  color: var(--primary-color);
  font-weight: normal;
}

.post-anchor:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.post-anchor-compact {
  font-size: calc(var(--global-font-size) * 1.15);
  color: var(--primary-color);
  font-weight: normal;
}

.post-link-main:hover {
  color: var(--primary-color);
}

.post-link:hover {
    background-color: var(--primary-color);
    color: var(--invert-font-color);
}

.read-more {
  font-size: calc(var(--global-font-size) * 0.8);
}

.all-posts-btn {
  margin-top: -20px;
}

/* ----- Post page --------- */

.postpage-date {
  /* text-align: center; */
  font-family: var(--headers-font-stack);
  color: var(--secondary-color);
  font-size: calc(var(--global-font-size) * 0.9);
  /* padding-bottom: var(--global-line-height); */
}

.post-content {
  padding-top: var(--global-line-height);
}

.post-content h1 {
  font-family: var(--headers-font-stack);
  text-align: center;
  padding-top: var(--global-line-height);
  text-decoration: underline;
  text-transform: none;
}

.post-content h2,
.post-content h3
 {
  font-family: var(--headers-font-stack);
  margin: 30px 0px 15px 0px;
  font-weight: bold;
}

.post-title {
  text-transform: uppercase;
  /* text-align: center; */
  display: block;
  font-size: 1.9em !important;
  text-decoration: none;
  color: var(--primary-color);
  line-height: 1.1em;
}

.post-firstimg {
  margin: 0px 0px 4em 0px;
}

.postpage-summary {
  padding-bottom: calc(var(--global-line-height) * 1);
}

/* ----------- Figure ------------- */

figure {
  /* width: 100%; */
  display: block;
  margin: 3em auto;
  max-width: 800px;
}
figcaption p {
  font-family: var(--headers-font-stack);
  color: var(--secondary-color);
  font-style: italic;
  font-size: calc(var(--global-font-size) * 0.9);
}

figure > a:hover {
  background-color: var(--background-color);
}

/* ----------- Repo Card ------------- */

.repo-card {
  border: 1px solid lightgrey;
  padding: 1em;
  color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0px 0px 10px var(--light-shadow-color);
  max-width: 40em;
  display: block;
  margin: 3em 10% 4em 10%;
  background-color: white;
  color: black;
}

.repo-card:hover {
  cursor: pointer;
}

.repo-card a {
  background-color: white;
  color: black;
}

.repo-card a:hover {
  background-color: var(--background-color);
  text-decoration: underline;
}

/* ----- Button --------- */
.btn {
  font-family: var(--headers-font-stack);
  margin-top: 10px;
  border: 1px solid var(--font-color);
  padding: 15px 20px;
  color: var(--font-color);
  font-weight: bold;
  box-shadow: 3px 3px var(--font-color);
}

.btn:hover,
.btn:focus {
  border: 1px solid black;
  background-color: var(--dark-primary-color);
}

.btn:active {
  background-color: wheat;
  transform: translateX(3px) translateY(3px);
}

/* --------------- Mobile ----------------------- */

@media only screen and (max-width: 750px) {
  .main-container {
    min-width: 250px;
    padding: 0px 20px;
    font-size: 1rem;
    padding-top: 75px;
  }

  .top-container {
    padding: 5px 10px;
  }

  .header-spacer {
    /* height: 110px; */
    height: 50px;
  }

  h1,
  .terminal h1 {
    font-family: var(--headers-font-stack);
    padding-top: 40px;
  }

  .terminal-nav {
    padding: 0px 15px;
    margin-top: 0px;
    font-size: small;
  }

  .logo {
    padding: calc(var(--global-space) * 1) 0 calc(var(--global-space) * 1);
  }

  .posts-list {
    position: relative;
    padding-left: 0em;
  }

  .post h1,
  .post h2 {
    padding-top: 0;
  }

  .posts-list .date {
    display: inline;
    position: relative;
    left: 0px;
    width: 9em;
    z-index: 400;
    font-size: small;
    /* font-style: italic; */
    color: var(--secondary-color);
  }

  .footer {
    bottom: 5px;
  }

  #theme-toggle {
    /* font-size: 1em; */
    margin-top: 0px;
  }
}
