 @font-face {
  font-family: "JetBrains Mono";
  src: url("/font/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/JetBrainsMono-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/JetBrainsMono-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/JetBrainsMono-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

:root {
  --global-font-size: 17px;
  --mono-font-stack: JetBrains Mono, Menlo, Monaco, Lucida Console,
    Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace, serif;
  --font-stack: JetBrains Mono, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --global-line-height: 1.5em;
  --page-width: 85ch;
  --display-h1-decoration: 1;
  --global-font-color: #323247;
  --font-color: #323247;
  --shadow-color: #323247;
  --code-bg-color: #fff;
  --primary-color: #b3a894;
  --global-top-margin: 10px;
  --posts-line-height: 1.4em;
}

html[data-theme="light"] {
  --global-font-color: #323247;
  --shadow-color: #323247;
  --font-color: #323247;
  --code-bg-color: #fff;
  --background-color: #fff;
  --primary-color: #cf8a05;
  --secondary-color: #777777;
}

html[data-theme="dark"] {
  --code-bg-color: #202020;
  --background-color: #202020;
  --global-font-color: #dadada;
  --font-color: #fff;
  --secondary-color: #c0c0c0;
  --shadow-color: #c0c0c0;
  --primary-color: #f7c664;
}

html[data-anim="none"] > *{
  transition: all 0s;
}

html[data-anim="fast"] > * {
  transition: background 300ms ease-in-out, color 500ms ease-in-out !important;
}

html[data-anim="fast"] > * > .top-container {
  transition: background 300ms ease-in-out, color 500ms ease-in-out !important;
}


@media only screen and (max-width: 750px) {
  :root {
    --global-font-size: 14px;
    --global-line-height: 1.6em;
    --global-top-margin: 0px;
    --posts-line-height: 1.4em;
  }
}

body {
  font-family: var(--font-stack);
  font-size: var(--global-font-size);
  background-color: var(--code-bg-color);
  margin-bottom: 75px;
  margin-top: var(--global-top-margin);
  min-width:330px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-stack);
  clear: both;
}

h1,
.terminal h1 {
  /* margin-bottom: 15px;*/
  font-size: 1.6em;
  padding: calc(var(--global-space) * 2) 0 calc(var(--global-space) * 2);
  margin: 0;
  overflow: hidden;
  font-weight: 600;
  padding-top: 60px;
}

h1::after {
  content: "";
}

h2,
.terminal h2 {
  margin: var(--global-line-height) 0;
  margin-top: calc(var(--global-line-height) * 1.5);
  font-size: 1.1em;
}

ul, ol {
  margin-top: calc(var(--global-line-height)*1) !important;
  margin-bottom:calc( var(--global-line-height)*1) !important;
}

li {
  margin: 10px 5px;
  color: var(--global-font-color);
}

.active a {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

.logo {
  font-weight: normal;
  color: var(--secondary-color);
}

.logo > a {
  font-weight: bold;
}

p {
  margin: 0 0 calc(var(--global-line-height) * 0.6);
  color: var(--global-font-color);
}


/* ----- Misc --------- */

.main-container {
  /* max-width: calc(var(--page-width)*.90); */
  min-width: 250px;
  padding: 0px 70px;
  height: 100%;
}

.footer {
  clear: both;
  margin-top: 100px;
  padding-top: 10px;
  font-size: smaller;
  width: 100%;
  text-align: center;
  /* border-top: 1px solid var(--secondary-color); */
  color: var(--secondary-color);
}

.headshot {
  width: 40%;
  min-width: 125px;
  max-width: 200px;
  display: block;
  margin: auto;
  border-radius: 0px;
  padding-bottom: 30px;
}

.headshot:hover {
  border: none;
}

#theme-toggle {
  font-size: 1.5em;
  color: var(--font-color);
}

#theme-toggle:hover {
  color: var(--secondary-color);
}

.not-found {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}


/* ----- Menu --------- */

.terminal-menu li {
  margin-right: 30px;
}
.terminal-menu li a:not(.btn) {
  color: var(--font-color);
}

.terminal-menu li a:not(.btn):hover {
  color: var(--secondary-color);
}

.terminal-prompt::after {
  -webkit-animation: cursor 1s infinite;
  animation: cursor 1s infinite;
  width: 10px;
}

.terminal-prompt::before {
  content: none;
}

.terminal-nav {
  border: 1px solid var(--font-color);
  /* border-top: 2px dotted var(--font-color); */
  /* border-bottom: 2px dotted var(--font-color); */
  /* margin: 0px 20px; */
  padding: 0px 40px;
  /* margin-left: -40px; */
  border-radius: 10px;
  box-shadow: 7px 7px 0px var(--font-color);
  margin-top: 14px;
  margin-bottom: 7px;
  /* border-bottom: 1px double var(--secondary-color); */
}

.top-container {
  /* box-shadow: 0 0 30px var(--background-color); */
  position: fixed;
  z-index: 2000;
  opacity: 1;
  background: var(--background-color);
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 5px;
  min-width:330px;
}

.header-spacer {
  height: 110px;
}


/* ----- Post list --------- */

.posts-list {
  position: relative;
  padding-left: 7em;
  top: 0;
}

.post h1, .post h2 {
  padding-top: 0;
  margin: 0;
  margin-bottom: 5px;
}

.post {
  margin-bottom: 30px;
}

.posts-list .date {
  display: inline-block;
  position: absolute;
  /* top: 0px; */
  left: 0px;
  width: 7em;
  z-index: 400;
  padding-top: 0;
  /* color:var(--secondary-color); */
  font-size: small;
}

.summary {
  color: var(--secondary-color);
  font-style: italic;
  /* font-size: small; */
  line-height: 1.4em;
  padding: calc(var(--global-line-height) * 0.5) 0px 10px 0px;
}

.post-anchor {
  font-size: 1.1em;
  /* text-decoration: underline; */
  font-weight: bolder;
}

.post-anchor:hover{
  text-decoration: underline;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* ----- Post page --------- */

.postpage-date {
  text-align: center;
  color: var(--secondary-color);
  /* font-style: italic; */
  /* padding-bottom: var(--global-line-height); */
}

.post-content h1 {
  text-align: center;
  padding-top: var(--global-line-height);
}

.post-content h2 {
  margin: 30px 0px 15px 0px;
}

.post-title {
  text-align: center;
  font-size: 1.9em !important;
}


.post-firstimg {
  margin: 0px 0px 4em 0px;
}

.postpage-summary {
  padding-bottom: calc(var(--global-line-height) * 1);
}

/* ----------- Figure ------------- */

figure {
  /* width: 100%; */
  display: block;
  margin: 3em auto 3em auto;
}
figcaption p {
  color: var(--secondary-color);
  font-style: italic;
}

figure > a:hover {
  background-color: var(--background-color);
}

/* ----------- Repo Card ------------- */

.repo-card {
  border: 1px solid lightgrey;
  padding: 1em;
  color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(196, 196, 196);
  max-width: 40em;
  display: block;
  margin: 3em auto 4em auto;
  background-color: white;
  color: black;
}

.repo-card:hover {
  cursor: pointer;
}

.repo-card a {
  background-color: white;
  color: black;
}

.repo-card a:hover {
  background-color: var(--background-color);
  text-decoration: underline;
}

/* ----- Button --------- */
.btn {
  border: 1px solid var(--font-color);
  margin-top: 10px;
  box-shadow: 7px 7px var(--font-color);
  border-radius: 100px;
  padding: 10px 20px
}

.btn:active {
  background-color: wheat;
  border: 1px solid var(--font-color);
  box-shadow: 7px 7px var(--font-color);
}

/* --------------- Mobile ----------------------- */

@media only screen and (max-width: 750px) {
  /* .site-name {
    width: 2ch;
    overflow: hidden;
    display: inline-block;
  } */

  /* .terminal-nav {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
  }

  .terminal-menu ul {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 0;
  }

  .terminal-menu li {
    margin-right: 20px;
  } */

  .main-container {
    /* max-width: calc(var(--page-width)*.90); */
    min-width: 250px;
    padding: 0px 35px;
  }

  h1, .terminal h1 {
    padding-top: 10px;
  }

  .terminal-nav {
    padding: 0px 20px;
  }

  .logo {
    padding: calc(var(--global-space) * 1) 0 calc(var(--global-space) * 1);
  }

  .posts-list {
    position: relative;
    /* padding-left: 0; */
    /* top: 0; */
  }

  .post h1, .post h2 {
      padding-top: 0;
  }

  .posts-list .date {
      display: inline-block;
      position: absolute;
      left: 0px;
      width: 7em;
      z-index: 400;
      font-weight: normal;
      font-size: small;
      /* padding-top: 0; */
      /* display: none; */
  }


  .footer {
    bottom: 5px;
    /* padding-top: 5px; */
  }

  #theme-toggle {
    font-size: 1em;
    margin-top: 0px;
  }

  .btn {
    border: 1px solid var(--font-color);
    margin-top: 10px;
    box-shadow: 3px 3px var(--font-color);
    border-radius: 100px;
    padding: 10px 20px
  }
}
