{{ define "main" }}

<h1 class="post-title">{{ .Title }}</h1>

<!-- <div class="postpage-date date">
    📆 {{ .PublishDate.Format "2 Jan. 2006" }} • ⌚ ~{{ math.Round (div (countwords .Content) 220.0) }} min.
</div> -->
{{ with .Params.linkedin }}
    // <a href="{{ . }}">Linkedin</a>
{{ end }}
{{ with .Params.twitter }}
    // <a href="{{ . }}">Twitter</a>
{{ end }}

<!-- <p class="postpage-summary summary">{{.Summary}}</p> -->

<div class="post-content">
    {{ .Content }}
</div>
{{ template "_internal/disqus.html" . }}
{{ end }}
