{{ define "main" }}

<h1>Hi!</h1>

<p>
  Hi there! I'm a Software Engineer from Italy 🇮🇹, and this is my personal blog.
  I like computers,
  <a href="https://skywarder.eu">rockets</a>,
  <a href="https://beyondcommonideas.org">projection mapping</a>, old school
  hip-hop
  <a href="https://open.spotify.com/playlist/22MKaB3ZF6C01ZCX8KkCgi">music</a>,
  and sometimes humans.
</p>
<a class="btn" href="about/">More...</a>

<br />
<br />
<br />

<h1>Posts</h1>

<div class="posts-list">
  {{ with .Site.GetPage "/posts" }}
      {{ range first 10 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
      <a class="post-anchor" href="{{ .Permalink }}" title="{{ .Title }}">
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "2 Jan. 2006" }}<br> ~{{ math.Round (div (countwords .Content) 220.0) }} min.</div>
                <div class="post-link-main">{{ .Title }}</div>
                <div class="summary-main">{{ .Summary }}</div>
                <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                <div>
                  <a href="{{ .Permalink }}" class="read-more"><u>Read More…</u></a>
                </div>
            </p>
        </div>
    </a>
      {{ end }}
  {{ end }}
  </div>

<!-- <h1>Projects</h1>

<div class="date">// TODO</div> -->

{{ end }}
