{{ define "main" }}

<h1></h1>

<p>
  Hi there! I'm <b>Alvise</b>, a security researcher with a thing for hardware. I like computers, music, and sometimes humans too.
</p>

<a class="btn" href="about/">About Me -></a>

<div class="header-spacer"></div>

<h1>Posts</h1>

{{with .Site.GetPage "/posts"}}
<ul class="homepage-list">
  {{ range sort .Data.Pages "Date" "desc" }} {{ if not .Params.private }}
  <li>
    <div class="post-compact">
      <a class="post-anchor-compact" href="{{ .Permalink }}" title="{{ .Title }}">
        {{ .Title }}
        <!-- <div class="summary">{{ .Summary }}</div> -->
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
          <!-- <div>
            <a href="{{ .Permalink }}">Read More…</a>
          </div> -->
        </a>
        <div class="date">{{ .PublishDate.Format "Jan 2, 2006" }}</div>
      </div>
</li>
  {{ end }} {{ end }}
</ul>
  {{ end }}

<!-- <div class="all-posts-btn"><a class=btn href=posts>All Posts -></a></div> -->

<h1>Sketches</h1>

  {{ with .Site.GetPage "/sketches" }}
<ul class="homepage-list">
  {{ range sort .Data.Pages "Date" "desc" }} {{ if not .Params.private }}
  <li>
    <div class="post-compact">
      <a class="post-anchor-compact" href="{{ .Permalink }}" title="{{ .Title }}">
        {{ .Title }}
        <!-- <div class="summary">{{ .Summary }}</div> -->
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
          <!-- <div>
            <a href="{{ .Permalink }}">Read More…</a>
          </div> -->
        </a>
        <div class="date">{{ .PublishDate.Format "Jan 2, 2006" }}</div>
      </div>
</li>
  {{ end }} {{ end }}
</ul>
  {{ end }}

<!-- <div class="all-posts-btn"><a class=btn href=sketches>Sketches -></a></div> -->

{{ end }}
